* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(21, 21, 70);
}
#head{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:azure;
    padding: 0px 30px;
    position: fixed;
    top: 0;
    transition: 0.3s;
    z-index: 1;
}
#logo{
    height: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo>img{
    height: 40px;
    width: 45px;
}
#icon{
    position: absolute;
    right: 15px;
}
#icon>img{
    height: 50px;
    width: 50px;
    display: none;
}
#nav-list{
 height: 30px;
 width: 600px;
 display: flex;
 align-items: center;
 justify-content: space-around;
}
#nav-list>a{
    text-decoration: none;
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
}
#container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#company-name {
    background-color: orange;
    text-align: center;
    width: 60%;
    padding: 15px 3px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
}

#intro {
    width: 80%;
    min-height: 80px;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    color: antiquewhite;
}

#line {
    height: 1px;
    width: 70%;
    background-color: gray;
    text-align: center;
}

#team {
    display: flex;
    height: 40px;
    width: 60%;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
    background:linear-gradient(to right,rgb(19, 228, 228),rgb(26, 211, 72));
    margin: 30px auto;
}

.leader{
    padding: 7px 15px;
    width: 300px;
    background-color: orange;
    text-align: center;
    margin: 30px 0px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.management-team{
    display: flex;
    height: 300px;
    width: 300px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(199, 180, 180);
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 10px;
}
.management-team:hover{
    transform: scale(1.03);
    transition: 0.4s;
}
.sub-container-1{
    /* background-color: gainsboro; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 85%;
    justify-content: space-evenly;
    padding: 10px;
}
.management-team>h5{
    font-size: 18px;
    margin-bottom: 5px;
}
.management-team>p{
    color: gray;
}
.management-team-img {
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 50%;
    padding: 3px;
    border: 1px solid rgb(143, 209, 143);
}
footer{
    display: flex;
    height: 60px;
    width: 100%;
    background-color: rgb(241, 235, 235);
   align-items: center;
   justify-content: center;
   font-size: 16px;
}

@media (max-width:640px){
    #nav-list>a{
      display: none;
    }
    #icon>img{
        display: block;
    }
}